.entrees-menus {
  animation: anim 1s ease-in-out 0s forwards;
}

.plats-menus {
  animation: anim 1s ease-in-out 0.4s forwards;
}

.desserts-menus {
  animation: anim 1s ease-in-out 0.8s forwards;
}

@keyframes anim {
  0% {
    transform: scale(0);
    opacity: 0.2;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
body {
  font-family: "Shrikhand", serif;
  font-family: "Roboto", sans-serif;
}

.full-heart {
  opacity: 0;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}
.full-heart:hover {
  opacity: 1;
  background-image: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: whitesmoke;
  z-index: 20;
  animation: hidden 2s forwards;
}
.loader::after {
  content: "";
  width: 500px;
  height: 200px;
  border-radius: 50%;
  border: 15px solid #F6F6F6;
  border-top: 15px solid #9356DC;
  border-bottom: 15px solid #9356DC;
  width: 120px;
  height: 120px;
  animation: spin 2s linear 1;
}

@keyframes hidden {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header {
  height: 63px;
  display: flex;
}
.header .logo {
  height: 63px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.header .logo a {
  text-decoration: none;
  height: 75px;
}
.header .logo a img {
  display: none;
}
.header .logo a h1 {
  font-family: "Shrikhand";
  color: #101010;
  font-size: 30px;
  font-weight: 400;
}

@media (min-width: 768px) {
  /***  header   ***/
  .header {
    height: 96px;
  }
  .header #logo-shadow {
    height: 96px;
  }
  .header #logo-shadow a {
    height: 96px;
  }
  .header #logo-shadow a img {
    display: block;
    width: 200px;
    height: 34.2px;
    padding-top: 30px;
  }
  .header #logo-shadow a .logo-mobile {
    display: none;
  }
}
footer {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  background-color: #353535;
}
footer p {
  font-family: Shrikhand;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer ul {
  padding: 0;
  list-style-type: none;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
footer ul li {
  padding-bottom: 8px;
}
footer ul li a:hover {
  color: #9356DC;
  transition-delay: 0.1s;
}
footer ul li a:hover i {
  color: #9356DC;
  transition-delay: 0.1s;
}
footer ul i {
  width: 20px;
  font-size: 14px;
  padding-right: 4px;
  color: #fff;
}

@media (min-width: 767.98px) {
  footer {
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  footer p {
    margin-bottom: 27px;
    padding-right: 80px;
  }
}
@media (min-width: 900px) {
  footer {
    height: 114px;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: flex-start;
  }
  footer p {
    margin-bottom: 27px;
    padding-right: 80px;
  }
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 30px;
    width: 690px;
    height: 20px;
    gap: 7px;
  }
  footer ul li {
    padding: 0;
  }
  footer ul li:nth-child(2) {
    margin-right: 30px;
  }
  footer ul li:nth-child(3) {
    margin-right: 10px;
  }
}
body {
  margin: 0;
  box-sizing: border-box;
}

#logo-shadow {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.icon-location {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
}
.icon-location i {
  font-size: medium;
  padding-right: 8px;
}

.icon-location input {
  border: none;
  background-color: #EAEAEA;
  font-family: Roboto;
  font-size: 16px;
  width: 109px;
  padding: 0 0 0 8px;
}
.icon-location input::placeholder {
  color: black;
  opacity: 1;
  font-weight: 500;
}

.top-section {
  background-color: #F6F6F6;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

hgroup {
  text-align: center;
}
hgroup h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 0 45px 0 45px;
  padding-top: 35px;
}
hgroup p {
  font-size: 18px;
  font-weight: 300;
  padding: 0 20px;
  margin-top: 10px;
}

.btn-gradient {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: #fff;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 45px 0;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.btn-gradient.btn-gradient:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
  opacity: 0.8;
  cursor: pointer;
}

.section-fonctionnement h2 {
  margin-left: 20px;
  margin-top: 50px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

ol {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  counter-reset: liste;
}

.function-list {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 80%;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  background: #F6F6F6;
  margin-bottom: 25px;
  padding: 0.7em;
  cursor: pointer;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.function-list::before {
  counter-increment: liste;
  content: counter(liste);
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -20px;
  font-size: 13px;
}
.function-list:hover {
  transform: scale(1.02);
  background: white;
}
.function-list:hover i {
  color: #9356DC;
}
.function-list i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7E7E7E;
  width: 18px;
  margin-left: 21px;
  font-size: 20px;
}
.function-list p {
  margin-left: 21px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.section-restos {
  background: #F6F6F6;
  padding: 0px 20px 80px 20px;
}
.section-restos h2 {
  padding-top: 50px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
.section-restos .resto-cards {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: 20px;
}
.section-restos a {
  width: 100%;
  height: 251px;
  text-decoration: none;
  color: inherit;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 20px;
  transition: 0.2s ease-in-out;
}
.section-restos a:hover {
  transform: scale(1.02);
}

.resto-card {
  height: 251px;
}
.resto-card figure {
  margin: 0;
  position: relative;
  height: 176px;
}
.resto-card img {
  height: 176px;
  width: 100%;
  object-fit: cover;
  box-sizing: border-box;
  border-radius: 20px 20px 0 0;
}
.resto-card span {
  position: absolute;
  right: 13px;
  top: 20px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  width: 80px;
  height: 29px;
  color: #008766;
  background-color: #99E2D0;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.resto-card .bottom-card {
  height: 30%;
  background-color: #fff;
  display: flex;
  border-radius: 0 0 20px 20px;
  position: relative;
}
.resto-card .bottom-card i {
  position: absolute;
  font-size: 25px;
  right: 30px;
  top: 15px;
}
.resto-card .text-card {
  padding-left: 10px;
}
.resto-card .text-card h3 {
  font-size: 18px;
  margin: 15px 0 4px 0;
}
.resto-card .text-card p {
  margin: 0;
  font-size: 17px;
  font-weight: 300;
}

/****** Media queries ***********/
@media (min-width: 768px) {
  /*** fonctionnement  ***/
  ol {
    margin: 0 100px;
  }
  /*** section restaurant ***/
  .section-restos .resto-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 100%;
    padding: 0px 15px;
    box-sizing: border-box;
  }
}
@media (min-width: 1024px) {
  body {
    margin: auto;
  }
  ol {
    padding-bottom: 30px;
  }
  .section-restos {
    padding-bottom: 30px;
  }
  .section-restos .resto-cards {
    padding-left: 9%;
    padding-right: 10%;
    column-gap: 100px;
    row-gap: 50px;
  }
  .section-restos .resto-cards .resto-card {
    height: 251px;
  }
}
@media (min-width: 1110px) {
  .section-fonctionnement {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10%;
    padding-right: 12%;
  }
  .section-fonctionnement h2 {
    margin-left: 0;
  }
  .section-fonctionnement ol {
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .section-restos h2 {
    margin: 0;
    padding-top: 25px;
    padding-bottom: 30px;
    padding-left: 9%;
  }
}
#arrow-left {
  display: flex;
  align-items: center;
  padding-left: 18px;
}
#arrow-left i {
  font-size: 21px;
  color: #353535;
}

#logo-shadow {
  box-shadow: none;
}

#centre-logo {
  margin-left: -26px;
}

figure {
  margin: 0;
}
figure #img-header {
  height: 275px;
  width: 100%;
  object-fit: cover;
  box-sizing: border-box;
}

.main-container {
  width: 100%;
  padding: 0 20px;
  border-radius: 40px 40px 0 0;
  background-color: #F6F6F6;
  box-sizing: border-box;
  margin-top: -40px;
  position: relative;
}
.main-container h3 {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 5px;
}
.main-container .line {
  width: 40px;
  margin-left: 0;
  background-color: #99E2D0;
  height: 3px;
  border: none;
  margin-top: 0;
}

#menu-title-heart {
  display: flex;
  position: relative;
  height: 80px;
}
#menu-title-heart h2 {
  font-family: Shrikhand;
  font-size: 23px;
  font-weight: 400;
  margin-top: 33px;
}
#menu-title-heart i {
  position: absolute;
  right: 20px;
  top: 38px;
  font-size: 24px;
}

.entrees-menus,
.plats-menus,
.desserts-menus {
  display: grid;
  width: 100%;
  position: relative;
  gap: 10px;
  box-sizing: border-box;
  padding: 5px 0 30px 0;
}

.container {
  height: 69px;
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1019607843);
}
.container:hover {
  cursor: pointer;
}
.container:hover .check {
  animation: check 0.3s ease-in-out both;
}
.container:hover .price-menu {
  animation: check 0.3s ease-in-out both;
}
.container:hover .text-menu {
  padding-right: 59px;
}

@keyframes check {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-59px);
  }
}
.entrees-menu,
.plats-menu,
.desserts-menu {
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding-left: 20px;
  height: 69px;
  box-sizing: border-box;
  overflow: hidden;
}
.entrees-menu .price-menu,
.plats-menu .price-menu,
.desserts-menu .price-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 36px;
  height: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
}
.entrees-menu .price-menu p,
.plats-menu .price-menu p,
.desserts-menu .price-menu p {
  font-size: 15px;
  font-weight: 700;
  padding-top: 30px;
}
.entrees-menu .text-menu,
.entrees-menu .text-plat,
.entrees-menu .text-dessert,
.plats-menu .text-menu,
.plats-menu .text-plat,
.plats-menu .text-dessert,
.desserts-menu .text-menu,
.desserts-menu .text-plat,
.desserts-menu .text-dessert {
  width: calc(100% - 36px);
  box-sizing: border-box;
  overflow: hidden;
}
.entrees-menu .text-menu h4,
.entrees-menu .text-plat h4,
.entrees-menu .text-dessert h4,
.plats-menu .text-menu h4,
.plats-menu .text-plat h4,
.plats-menu .text-dessert h4,
.desserts-menu .text-menu h4,
.desserts-menu .text-plat h4,
.desserts-menu .text-dessert h4 {
  margin: 0;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.entrees-menu .text-menu p,
.entrees-menu .text-plat p,
.entrees-menu .text-dessert p,
.plats-menu .text-menu p,
.plats-menu .text-plat p,
.plats-menu .text-dessert p,
.desserts-menu .text-menu p,
.desserts-menu .text-plat p,
.desserts-menu .text-dessert p {
  margin: 0;
  font-size: 15px;
  font-weight: 300;
  padding-top: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.check {
  width: 59px;
  min-width: 59px;
  height: 69px;
  right: -59px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 20px;
  background-color: #99E2D0;
  color: #fff;
  border-radius: 0 15px 15px 0;
}

.desserts-menus {
  padding-bottom: 0;
}

.btn-container {
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
}

.commander-btn {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: #fff;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.commander-btn.commander-btn:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
  opacity: 0.8;
  cursor: pointer;
}

/****** Media queries ***********/
@media (min-width: 370px) {
  #menu-title-heart h2 {
    font-size: 28px;
    margin-top: 30px;
  }
}
@media (min-width: 768px) {
  .main-container {
    width: 80%;
    margin: auto;
    margin-top: -40px;
  }
  .main-container #menu-title-heart {
    justify-content: center;
    width: 500px;
    margin: auto;
  }
  .main-container #menu-title-heart i {
    right: 70px;
  }
  .btn-container {
    width: 80%;
    margin: auto;
  }
  .entrees-section,
  .plats-section,
  .desserts-section {
    margin-left: 16%;
    margin-right: 16%;
  }
}

/*# sourceMappingURL=style.css.map */
