
.header {
  height: 63px;
  display: flex;

  .logo {
    height: 63px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    a {
      text-decoration: none;
      height: 75px;

      img {
        display: none;
      }

      h1 {
        font-family: 'Shrikhand';
        color: #101010;
        font-size: 30px;
        font-weight: 400;
      }
    }
  }
}

@media (min-width: 768px) {

  /***  header   ***/

  .header {
    height: 96px;

    #logo-shadow { 
      height: 96px;

      a {
        height: 96px;

        img {
          display: block;
          width: 200px;
          height: 34.2px;
          padding-top: 30px;
        }

        .logo-mobile {
          display: none;
        }
      }
    }
  }
}