// colours

$primaryColor: #9356DC;
$seconderyColor: #FF79DA;
$tertiaryColor: #99E2D0;
$darkGreen: #008766;
$chaosBlackColor: #101010;
$darkGrey: #353535;
$bgColor: #F6F6F6;
$bgButton: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
